html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, svg, hr {margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline; font-weight: normal;}

@media (max-width: 576px) {
/* On définit sa grille */
$columns : 12;

/* Gutters signifie Gouttière en anglais */
$gutters : 30px;

%col {

/* le comportement de vos boites */
float:left;

background: blue;

padding: $gutters;

}

@for $i from 1 through $columns {

.col-#{$i} {

@extend %col;

width : $i / $columns * 100%;

}
}
%alert-small {
  padding:10px;

  p {
    font-size:12px;
  }

  &:before {
    width:18px;
    height:18px;
  }
}
}

@media (min-width: 576px) {

/* On définit sa grille */
$columns : 12;

/* Gutters signifie Gouttière en anglais */
$gutters : 30px;

%col-sm- {

/* le comportement de vos boites */
float:left;

background: red;

padding: $gutters;

}

@for $i from 1 through $columns {

.col-sm-#{$i} {

@extend %col-sm-;

width : $i / $columns * 100%;

}

}

}

@media (min-width: 768px) {

/* On définit sa grille */
$columns : 12;

/* Gutters signifie Gouttière en anglais */
$gutters : 30px;

%col-md- {

/* le comportement de vos boites */
float:left;

background: green;

padding: $gutters;

}

@for $i from 1 through $columns {

.col-md-#{$i} {

@extend %col-md-;

width : $i / $columns * 100%;

}

}

}

@media (min-width: 992px) {

/* On définit sa grille */
$columns : 12;

/* Gutters signifie Gouttière en anglais */
$gutters : 30px;

%col-lg- {

/* le comportement de vos boites */
float:left;

background: purple;

padding: $gutters;

}

@for $i from 1 through $columns {

.col-lg-#{$i} {

@extend %col-lg-;

width : $i / $columns * 100%;

}

}

}

@media (min-width: 1200px) {

/* On définit sa grille */
$columns : 12;

/* Gutters signifie Gouttière en anglais */
$gutters : 30px;

%col-xl- {

/* le comportement de vos boites */
float:left;

background: pink;

padding: $gutters;

}

@for $i from 1 through $columns {

.col-xl-#{$i} {

@extend %col-xl-;

width : $i / $columns * 100%;

}

}

}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@mixin btn-theme{
   background-color: #9A68C7;
   border-color: #743EA5;
}

.btn-dark{
  background-color:#343a40;
  display: inline-block; 
   padding: .938em 1.875em;
   border: .094em solid #743EA5; 
   border-radius: .625em;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 1.8rem sans-serif;
  
}
  .btn-dark:hover {
    background-color:#343a40;
}
  .btn-dark:active {
    background-color:#343a40;
}

.btn-danger{
  background-color:#dc3545;
  display: inline-block; 
   padding: .938em 1.875em;
   border: .094em solid #743EA5; 
   border-radius: .625em;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 1.8rem sans-serif;
  
}
  .btn-danger:hover {
    background-color: #dc3545;
}
  .btn-danger:active {
    background-color: #dc3545;
}

.btn-warning{
  background-color: #ffc107;
  display: inline-block; 
   padding: .938em 1.875em;
   border: .094em solid #743EA5; 
   border-radius: .625em;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 1.8rem sans-serif;
  
}
  .btn-warning:hover {
    background-color: #ffc107;
}
  .btn-warning:active {
    background-color: #ffc107;
}


.btn-info{
  background-color: #17a2b8;
  display: inline-block; 
   padding: .938em 1.875em;
   border: .094em solid #743EA5; 
   border-radius: .625em;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 1.8rem sans-serif;
}
  .btn-info:hover {
    background-color: #17a2b8;
}
  .btn-info:active {
    background-color: #17a2b8;
}


.btn-success{
  background-color: #28a745;
  display: inline-block; 
   padding: .938em 1.875em;
   border: .094em solid #743EA5; 
   border-radius: .625em;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 1.8rem sans-serif;
  
}
  .btn-success:hover {
    background-color: #28a745;
}
  .btn-success:active {
    background-color: #28a745;
}

.btn-primary{
  background-color: #007bff;
  display: inline-block; 
   padding: .938em 1.875em;
   border: .094em solid #743EA5; 
   border-radius: .625em;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 1.8rem sans-serif;
  
}
  .btn-primary:hover {
    background-color: #007bff;
}
  .btn-primary:active {
    background-color: #007bff;
}

.btn-default{
  background-color: white;
  display: inline-block; 
   padding: .938em 1.875em;
   border: .094em solid #743EA5; 
   border-radius: .625em;
   box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 .063em #000;
   cursor:pointer;
   font: bold 1.8rem sans-serif;  
}
  .btn-default:hover {
    background-color: white;
}
  .btn-default:active {
    background-color: white;
}

.text-info {
  color: color-yiq(theme-color("dark")); 
}

//----- Base Alert Extend
%alert {
  width:100%;
  padding:20px;
  display:inline-block;
  border-radius:4px;

  p, &:before {
    float:left;
  }

  &:before {
    width:25px;
    height:25px;
    margin-right:10px;
    display:inline-block;
    content:'';
    border-radius:1000px;
    background:url('icon-sprite.png') no-repeat;
  }

  p {
    color:#fff;
  }
}

%alert-small {
  padding:10px;

  p {
    font-size:12px;
  }

  &:before {
    width:18px;
    height:18px;
  }
}

%alert-large {
  padding:30px;

  p {
    font-size:24px;
  }

  &:before {
    width:40px;
    height:40px;
  }
}

//----- Success
.alert-success  {
  background:#75aa61;
  @extend %alert;

  &:before {
    background-color:#98bf89;
    background-position:-47px 7px;
  }
}

.alert-success-small {
  @extend %alert-small;
  @extend .alert-success;

  &:before {
    background-position:4px 5px;
  }
}

.alert-success-large {
  @extend %alert-large;
  @extend .alert-success;

  &:before {
    background-position:-89px 13px;
  }
}


//----- Info
.alert-info {
  background:#6181aa;
  @extend %alert;

  &:before {
    background-color:#98bf89;
    background-position:-47px 7px;
  }
}

.alert-info-small {
  @extend %alert-small;
  @extend .alert-info;

  &:before {
    background-position:4px 5px;
  }
}

.alert-info-large {
  @extend %alert-large;
  @extend .alert-info;

  &:before {
    background-position:-89px 13px;
  }
}

//----- Warning
.alert-warning {
  background:#cecf60;
  @extend %alert;

  &:before {
    background-color:#98bf89;
    background-position:-47px 7px;
  }
}

.alert-warning-small {
  @extend %alert-small;
  @extend .alert-info;

  &:before {
    background-position:4px 5px;
  }
}

.alert-warning-large {
  @extend %alert-large;
  @extend .alert-info;

  &:before {
    background-position:-89px 13px;
  }
}

//----- Danger
.alert-danger {
  background:#ae6872;
  @extend %alert;

  &:before {
    background-color:#98bf89;
    background-position:-47px 7px;
  }
}

.alert-danger-small {
  @extend %alert-small;
  @extend .alert-info;

  &:before {
    background-position:4px 5px;
  }
}

.alert-danger-large {
  @extend %alert-large;
  @extend .alert-info;

  &:before {
    background-position:-89px 13px;
  }
}

.img-circle{
   border-radius: 50%;
}

.img-rounded{
  border-radius: 50%;
}

.img-thumbnail{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
