html
{
	display: flex;
	justify-content: center;
	background: #e6ecf0;
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
}
.details_menu
{
	display: flex;
	justify-content: space-around;
	border-bottom: solid grey 1px;
	background-color:#fff;
	height: 60px;
	list-style-type: none;	
}

ul
{
	display: flex;
	justify-content: space-around;
	list-style-type: none;

}

li
{
	margin: 9px;
}

.pro-fil
{
	background-color:#fff;
	margin: 10px;
	line-height: inherit;
    padding: 15px;
}

.tendance
{
	background-color:#fff;
	margin: 10px;
	line-height: inherit;
    padding: 15px;
}

.news
{
	background-color:#fff;	
	margin: 5px;
	line-height: inherit;
    padding: 15px;
}

.liste_news
{
	background-color:#fff;
	margin: 5px;
	line-height: inherit;
    padding: 15px;
}

.suggestion
{
	background-color:#fff;
	margin: 10px;
	line-height: inherit;
    padding: 15px;
}
.conditions
{
	background-color:#fff;
	margin: 10px;
	line-height: inherit;
    padding: 15px;

}

.planP
{
	background-color: #e6ecf0;
	display: flex;
	justify-content: center;

}



p
{
	margin: auto;
}

button
{
	background-color:#007bff;
	color: #fff;
	border-radius: 10px 10px 10px;

}



.menu_pro
{
	background-color:#007bff;
	height: 150px;	
}

.marge
{
	background-color:#fff;
	height: 50px;	
}